[Unit]
Description=Minecraft Server

[Service]
User=minecraft
ExecStart=/usr/local/bin/minecraftd

# send SIGTERM to main process only
KillMode=mixed

[Install]
WantedBy=multi-user.target
