[Unit]
Description=Minecraft Server Daemon

[Service]
User=minecraft
ExecStart=/usr/local/bin/minecraftd
KillMode=mixed

[Install]
WantedBy=multi-user.target
