Source: minecraftd
Section: unknown
Priority: optional
Maintainer: Jesse Stricker <git@jessestricker.de>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 15),
Standards-Version: 4.7.2
Homepage: https://github.com/jessestricker/minecraftd

Package: minecraftd
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: Minecraft server daemon
