#!/usr/bin/make -f

export DEB_BUILD_OPTIONS = noautodbgsym
export GOARCH = $(DEB_HOST_ARCH)

%:
	dh $@ --without single-binary

# skip these commands
override_dh_dwz:
override_dh_installchangelogs:
override_dh_installdocs:
